baseURL = 'https://enna1.github.io/'
languageCode = 'en-us'
title = "Enna1's website"
theme = ["ownlite"]
disableKinds = ['taxonomy', 'term']

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)'], ['$', '$']]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    style = 'github'

[Params]
  description = "Enna1's website" # Site description. Used in meta description
  copyright = "Enna1" # Footer copyright holder, otherwise will use site title
  math = false # Enable MathJax

# config your menu
[menus]
  [[menu.main]]
    name = "home"
    weight = 10
    identifier = "home"
    url = "/"

  [[menu.main]]
    name = "blog"
    weight = 20
    identifier = "blog"
    url = "/blog/"

  [[menu.main]]
    name = "random"
    weight = 30
    identifier = "random"
    url = "/random/"

  [[menu.main]]
    name = "podcast"
    weight = 40
    identifier = "podcast"
    url = "/podcast/"

  [[menu.main]]
    name = "github"
    weight = 50
    identifier = "github"
    url = "https://github.com/Enna1"

[Params.Podcast]
  Title = "徐徐道来"
  local = false
  cdn = false
  Description = "欢迎来到「徐徐道来」播客，我和朋友们会在这里分享记录我们的故事（微信公众号：徐徐道来播客）"
  Lang = "zh-cn"
  image = "podcast/logo.jpg" # Podcast logo image. Path relative to "assets"
